.movies-cards-list {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
}

.movies-cards-list__cards {
  display: grid;
  grid-gap: 30px 24px;
  grid-template-columns: repeat(3, 1fr);
  padding: 70px 70px 30px;
}

.movies-cards-list__show-more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies-cards-list__show-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  min-width: 320px;
  text-align: center;
  transition: all .2s;
  padding: 11px 0;
  margin: 50px 0 80px;
}

.movies-cards-list__show-more-button:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .movies-cards-list__cards {
    grid-gap: 36px 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 70px 30px 30px;
  }
}

@media (max-width: 320px) {
  .movies-cards-list__cards {
    grid-gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 10px 30px;
  }

  .movies-cards-list__show-more-button {
    min-width: 240px;
  }
}