.movies-card {
  background-color: #FDFDFD;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.movies-card__details {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-template-areas:
  "title button"
  "duration duration";
} 

.movies-card__title {
  grid-area: title;
  color: #000;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 14px 14px 9px;
}

.movies-card__duration {
  grid-area: duration;
  color: #A0A0A0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.18;
  margin: 0;
  padding: 9px 14px 14px;
}

.movies-card__poster {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movies-card__poster-container {
  display: flex;
}

.movies-card__save-button {
  grid-area: button;
  border: none;
  background: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 19px 14px 0;
}

.movies-card__save-button:hover {
  transition: 1s ease-in-out;
}

.movies-card__save-button > .movies-card__save-image_hover {
  display: none;
}

.movies-card__save-button:hover > .movies-card__save-image_hover {
  display: block;
}
.movies-card__save-button:hover > .movies-card__save-image {
  display: none;
}
