.profile__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 74px 0 70px;
  box-sizing: border-box;
  min-height: calc(100vh - 74px);
  margin: auto;
}

.profile__form {
  width: 100%;
  max-width: 410px;
  min-height: 482px;
  display: flex;
  flex-direction: column;
  gap: 123px;
  position: relative;
  align-items: center;
}

.profile__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
}

.profile__labels-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.profile__label-text {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  color: #000;
  position: absolute;
  cursor: none;
  top: 17px;
}

.profile__input {
  outline: none;
  box-sizing: border-box;
  border-style: none;
  border-bottom: 1px solid #E8E8E8;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #000;
  background-color: transparent;
  text-align: right;
  padding: 17px 0;
}

.profile__input_no-border {
  border-bottom: transparent;
}

.profile__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.profile__button-edit {
  border: none;
  background-color: transparent;
  color: #000;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  transition: all .2s;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

.profile__button-save {
  background-color: #3456F3;
  padding: 14px 168px;
  border-color: transparent;
  border-radius: 3px;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  transition: all .2s;
  cursor: pointer;
}

.profile__button-save:hover {
  opacity: 0.6;
}

.profile__button-exit {
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  background-color: transparent;
  color: #EE3465;
  transition: all .2s;
  cursor: pointer;
}

.profile__button-exit:hover {
  opacity: 0.6;
}

.profile__error-message {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.21;
  text-align: center;
  color: #FF004C;
}