.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  border-radius: 10px;
  margin: 20px 40px 0 20px;
}

.promo__titleContainer {
  height: 555px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.promo__title {
  color: #000;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;
  margin: 0;
  max-width: 730px;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .promo {
    margin: 20px 40px 0 20px;
  }

  .promo__title {
    font-size: 40px;
    line-height: 1.3;
  }
}

@media (max-width: 320px) {
  .promo {
    margin: 14px 14px 0 14px;
  }

  .promo__title {
    font-size: 29px;
    line-height: 1.28;
  }
}