.nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.3);
}

.nav-overlay__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  align-items: center;
  padding: 159px 90px 46px 90px;
}

.nav-overlay__close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-overlay__close-button:hover {
  background-color: #F5F5F5;
  border-radius: 100px;
}

.nav-overlay__links-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-overlay__links-item {
  margin-bottom: 28px;
}

.nav-overlay__links-item:last-child {
  margin-bottom: 0;
}

.nav-overlay__link {
  text-decoration: none;
  color: #000;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.nav-overlay__link:hover {
  border-bottom: 2px solid #000;
}

@media (max-width: 768px) {
  .nav-overlay {
    display: flex;
  }
}


@media (max-width: 380px) {
  .nav-overlay__content {
    width: 100%;
  }
}
